* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: url(../images/loginpage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*icon div*/
.icon .fa-plane {
  color: white;
  font-size: 30px;
  padding-left: 50px;
  padding-top: 40px;
  transform: rotate(-45deg);
}
/*main div*/
.main {
  position: relative;
  width: 100vw;
  height: 135vh;
}
/* div for text on left*/
.text {
  position: absolute;
  color: white;
  left: 3vw;
  top: 35vh;
  padding: 0 20px 0 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 0.25em;
}
.text h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 0;
  text-shadow: 2px 2px 8px black;
}
.text p {
  line-height: 2;
  font-size: x-large;
  text-shadow: 2px 2px 15px black;
  -webkit-text-stroke: 0.5px white;
}

/*div for login form*/
.login {
  background-color: white;
  position: absolute;
  top: 5vh;
  right: 5vw;
  width: 40vw;
  height: 115vh;
  padding-left: 4vw;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.login h1 {
  color: rgb(8, 8, 111);
  margin-top: 40px;
}
#p1 {
  font-size: large;
}
label {
  color: rgb(8, 8, 111);
  font-weight: bold;
}
#mail, #pwd {
  width: 30vw;
  height: 8vh;
  border: 1px solid rgb(198, 196, 196);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
::placeholder {
  font-size: 1rem;
  color: black;
  padding-left: 20px;
  opacity: 0.5;
}
#fpwd {
  color: blue;
  padding-left: 250px;
}
.chbox {
  margin-top: 20px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}
button {
  width: 30vw;
  height: 9vh;
  background-color: rgb(42, 10, 123);
  color: white;
  border: none;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}
#p2, #sp2 {
  padding: 20px 0 0 60px;
  font-size: large;
  color: rgb(7, 7, 108);
  display: flex;
  align-items: center;
  gap: 10px;
}
#sign, #log {
  color: blue;
}
/*sign in div */
.signin {
  background-color: white;
  position: absolute;
  top: 5vh;
  right: 5vw;
  width: 40vw;
  height: 125vh;
  padding-left: 4vw;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.signin h1 {
  color: rgb(8, 8, 111);
  margin-top: 30px;
}
.signin label{
  display: block;
  margin-top:20px;
  padding:0;
}
#name, #signmail, #signpwd, #cpwd {
  width: 30vw;
  height: 8vh;
  border: 1px solid rgb(198, 196, 196);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
#signindiv{   /*hide the signin form */
  display: none;
}
#logindiv{
    display: block;
}

/*media queries for mobile screen*/
@media (max-width: 500px) {
  .main {
    height: auto;
  }
  .icon {
    position: static;
    margin-left: 0;
    padding: 0;
  }
  .icon .fa-plane {
    margin-top: 20px;
    margin-left: 0;
    padding: 10px 20px;
    font-size: 24px;
  }
  .text {
    position: static;
  }
  .text h1 {
    font-size: xx-large;
  }
  .text p {
    font-size: larger;
  }
  .login {
    position: static;
    width: 90%;
    height: auto;
    margin: 10px auto;
    padding: 20px;
    text-align: left;
  }
  .login h1 {
    text-align: center;
    font-size: x-large;
    margin-top: 0;
  }
  #p1 {
    padding: 10px 0;
    text-align: center;
    font-size: medium;
  }
  .login textarea {
    width: 90%;
  }
  #mail,
  #pwd,
  button {
    width: 100%;
  }
  .chbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin: 0;
    padding: 0;
  }
  button {
    margin: 0;
  }
  .login ::placeholder {
    font-size: 15px;
  }
  .login button {
    font-size: 15px;
  }
  #fpwd {
    display: block;
    margin: 0 0 5px 0;
    padding: 0;
    text-align: center;
  }
  #p2 {
    display: block;
    text-align: center;
    padding: 0;
    font-size: 15px;
  }

  .signin {
    position: static;
    width: 90%;
    height: auto;
    margin: 10px auto;
    padding: 30px;
    text-align: left;
  }
  #name, #signmail,
  #signpwd, #cpwd,
  button {
    width: 100%;
  }
   .signin h1 {
    text-align: center;
    font-size: x-large;
    margin-top: 0;
  }
  #sp2 {
    display: block;
    text-align: center;
    padding: 0;
    font-size: 15px;
  }
  .signin button {
    font-size: 15px;
  }
}
